.btn-center{
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
}

.btn{
    border: 0;
    padding: 8px;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    min-width: 7rem;
    font-size: 14px;

    &--primario{
        color: #ffff;
        background-color: $color-primario;
        font-family: $font-medium;
    }

    &--desac{
        background-color: #CCCCCC;
        color: $color-gris;
        pointer-events: none;
    }
}

.btn-link-small{
    color: #999999;
    font-family: "AvenirNextLTPro-Medium";
    font-size: 12px;
    text-decoration: underline;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}