.cont-landing{
    display: flex;
    flex-direction: column;
    height: 100vh;

    &--gris{
        background-color: #f2f3f6;
    }
}

.cont-form{
    padding: 18% 10%;
    font-size: 14px;
}

.cont-captura{
    background-color: rgba($color-gris, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-captura__img{
    height: 70%;
    width: 70%;
    background-color: #F2F3F6;
    border-radius: 10px;
    border: 2px dashed $color-gris;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 25%;
    }

    &--verde{
        border-color: $color-primario;
    }

    &--foto img{
        width: 75%;
    }
}

.cont-mensaje{
    display: flex;
    flex-direction: column;
    background-color: #F2F3F6;
    padding: .5rem 1rem;
    margin: 1.5rem 0;
    font-size: 14px;
}

.cont-mensaje__titulo{
    color: $color-primario;
    padding-bottom: .5rem;
}

.cont-tracker{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.cont-tracker__tracker{
    padding: 0 10%;
}

.cont-tracker__modulo{
    padding: 0 10%;
    flex: 1 1 auto;
    font-size: 14px;
    padding-top: .5rem;
}

.cont-agendar{
    padding: 0 10%;
    flex: 1 1 auto;
    font-size: 14px;
    padding-top: .5rem;
}

.cont-agendar__img{
    background: #fff;
    border-radius: 50%;
    width: 11rem;
    height: 11rem;
    margin: 15% auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 10rem;
    }
}



@media only screen and (min-width: 1025px) {
    .cont-form{
        border: 1px solid lightgray;
        border-radius: 5px;
        margin: 3rem 15%;
        padding: 6% 20%;
        font-size: 15px;
    }

    .cont-tracker{
        border: 1px solid lightgray;
        border-radius: 5px;
        margin: 3% 13%;
    }

    .cont-tracker__modulo{
        padding-bottom: 8%;
    }

    .cont-input{
        display: flex;
        flex-wrap: wrap;

        .input-group, .input-group__doble{
            width: 48%;
            margin-right: 2%;
        }
    }
}

