.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
}

.input-group__label{
    font-size: 14px;
    font-family: $font-medium;
    margin-bottom: 5px;
    white-space: nowrap;
}

.input-group__input{
    display: flex;
    align-items: center;
    position: relative;


    input{
        border: 1px solid #B3B3B3;
        border-radius: 2px;
        padding: 8px;
        width: 100%;
        font-size: 12px;
        font-family: $font-medium;
        padding-right: 28px;
    }

    input:focus, select:focus{
        outline-color: #43B02A;
    }

    > img{
        position: absolute;
        right: 0;
        padding-right: 8px;
        height: 1rem;
    }

    &--simple{
        input{
            padding-right: 8px!important;
        }
    }

    &--desac{
        input{
            color: rgba(#333333, 0.25);
        }
    }
}

.input-group__small{
    display: flex;
    align-items: center;
    color: $color-gris;
    padding: 10px 0px;
    font-family: $font-medium;
    font-size: 12px!important;

    &--negro{
        display: inline;
        color: unset;
        padding: 0;
    }

    img{
        margin-right: 4px;
    }
}