.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-group__label{
    font-size: 14px;
    font-family: $font-medium;
    margin-bottom: 5px;
    white-space: nowrap;
}

.input-group__input{
    display: flex;
    align-items: center;
    position: relative;

    input{
        border: 1px solid #B3B3B3;
        border-radius: 2px;
        padding: 8px;
        width: 100%;
        font-size: 12px;
        font-family: $font-medium;
        padding-right: 28px;
    }

    img{
        position: absolute;
        right: 0;
        padding-right: 8px;
        height: 1rem;
    }

    &--simple{
        input{
            padding-right: 8px!important;
        }
    }

    select{
        border: 1px solid #B3B3B3;
        border-radius: 2px;
        padding: 9px;
        width: 100%;
        font-size: 12px;
        font-family: "AvenirNextLTPro-Medium";
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    select::-ms-expand {
        display: none;
    }

    .select__flecha{
        border: solid #767676;
        border-width: 0 2.5px 2.5px 0;
        border-radius: 1px;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: absolute;
        right: 10px;
        top: 12px;
    }
}

.input-group__small{
    display: flex;
    align-items: center;
    color: $color-gris;
    padding: 10px 0px;
    font-family: $font-medium;
    font-size: 12px!important;

    &--negro{
        display: inline;
        color: unset;
        padding: 0;
    }

    img{
        margin-right: 4px;
    }
}